repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.5.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: >-
      (?x)^(
        rcds/backends/k8s/templates/.*\.ya?ml
      )$
  - id: check-added-large-files
- repo: local
  hooks:
  - id: isort
    name: isort
    entry: poetry run isort
    language: system
    types: [python]
    require_serial: true
  - id: black
    name: black
    entry: poetry run black
    language: system
    types: [python]
    require_serial: true
  - id: flake8
    name: flake8
    entry: poetry run flake8
    language: system
    types: [python]
    require_serial: true
  - id: mypy
    name: mypy
    entry: poetry run mypy
    args: ["--ignore-missing-imports", "--scripts-are-modules"]
    language: system
    types: [python]
    require_serial: true
